/*COLOR*/
/*GRADIENT*/
/*BREAKPOINT*/
/*FONT*/
/*HEART*/
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 1000px) {
  .functioning,
.restaurants__cards {
    padding: 0 16px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

@keyframes quarter-spin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes disappear {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  padding: 5px;
  margin: 0;
  position: relative;
}

.city {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background-color: #f3f3f3;
  text-align: center;
  padding: 8px;
}
.city i {
  font-size: 24px;
}
.city p {
  font-size: 16px;
}

.explorer {
  text-align: center;
  margin: 32px;
}
.explorer h2 {
  font-size: 24px;
  margin: 16px;
}
.explorer p {
  font-size: 16px;
}
.explorer button {
  color: white;
  font-weight: 300;
  font-size: 24px;
  padding: 16px 32px;
  border: none;
  border-radius: 32px;
  transition: transform 200ms;
  margin-top: 16px;
  cursor: pointer;
  box-shadow: 2px 1px 8px -3px #7E7E7E;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
  font-size: 16px;
}
.explorer button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.loader {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: #FFFFFF;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.8;
  animation: disappear 100ms 3s forwards;
  transform-origin: top;
}
.loader::after {
  content: "";
  height: 100px;
  width: 100px;
  border-right: 5px solid transparent;
  border-top: 5px solid #9356dc;
  border-left: 5px solid #ff79da;
  border-radius: 50%;
  animation: spin 3s infinite;
}

.functioning {
  counter-reset: steps;
  margin-bottom: 32px;
  padding: 0 112px;
}
@media (max-width: 1000px) {
  .functioning {
    padding: 0 16px;
  }
}
.functioning ol {
  display: flex;
  gap: 32px;
  padding: 0 16px;
}
@media (max-width: 1000px) {
  .functioning ol {
    flex-direction: column;
  }
}
.functioning li {
  position: relative;
  display: flex;
  align-items: center;
  list-style-type: none;
  background-color: #f6f6f6;
  padding: 24px 32px;
  flex-grow: 1;
  border-radius: 16px;
  box-shadow: 2px 1px 8px -3px #7E7E7E;
}
.functioning li::before {
  content: counter(steps);
  counter-increment: steps;
  color: white;
  background-color: #9356dc;
  width: 32px;
  height: 32px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -16px;
  transform: translateY(-50%);
}
.functioning li:hover {
  transform: scale(1.02);
  background-color: #f2eafb;
}
.functioning li:hover i::before {
  color: #9356dc;
}
.functioning li i.fas {
  margin-right: 16px;
  color: gray;
  font-size: 24px;
}

.restaurants {
  background-color: #F6F6F6;
  padding-bottom: 32px;
}
.restaurants h3 {
  padding: 10px 112px;
}
@media (max-width: 1000px) {
  .restaurants h3 {
    padding: 10px 16px;
  }
}
.restaurants .restaurants__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  padding: 0 112px;
}
@media (max-width: 1000px) {
  .restaurants .restaurants__cards {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 16px;
  }
}
.restaurants .restaurants__cards .new {
  position: relative;
}
.restaurants .restaurants__cards .new::before {
  content: "Nouveau";
  position: absolute;
  height: 32px;
  width: 80px;
  background-color: #99e2d0;
  color: #1b6150;
  display: grid;
  place-items: center;
  right: 16px;
  top: 16px;
}
.restaurants .card {
  background-color: white;
  box-shadow: 2px 1px 8px -3px;
  border-radius: 16px;
}
.restaurants .card__image img {
  border-radius: 16px 16px 0 0;
  width: 100%;
  height: 192px;
  object-fit: cover;
}
.restaurants .card__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.restaurants .card__description h3,
.restaurants .card__description p {
  margin: 8px;
  padding: 5px;
}
.restaurants .card__description .card__heart {
  width: 32px;
  height: 32px;
  padding: 0;
  justify-content: center;
  align-items: center;
  position: relative;
  background: transparent;
}
.restaurants .card__description i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  transform: translateY(-50%);
}
.restaurants .card__description .fas {
  color: transparent;
  background-image: linear-gradient(rgb(147, 86, 220), rgb(255, 121, 218));
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 100ms;
}
.restaurants .card__description:hover .fas {
  opacity: 1;
  transform: translateY(-100%) scale(1.1);
}

footer {
  padding: 16px 32px;
  background-color: #383838;
  color: white;
}
footer h4 {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
  padding: 16px 0;
}
footer a {
  color: white;
}
footer p {
  padding: 3px;
}
footer i {
  padding-right: 10px;
}

header i {
  display: flex;
  font-size: 20px;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 200ms;
}
header i:hover {
  transform: translateY(-50%) scale(1.2);
}

.banner img {
  display: block;
  width: 100%;
  height: 70vh;
  object-fit: cover;
  object-position: center;
}

.restaurant__title {
  margin-top: -32px;
}
.restaurant__title h2 {
  display: flex;
  justify-content: space-between;
  font-family: "Shrikhand", cursive;
  padding: 32px 16px;
  border-radius: 32px 32px 0 0;
  background-color: #F6F6F6;
}

.menus {
  padding: 0 16px;
  background-color: #F6F6F6;
}

.menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
@media (max-width: 1000px) {
  .menu {
    grid-template-columns: 1fr;
  }
}
.menu h3 {
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  margin-bottom: 16px;
}
.menu h3::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 0;
  height: 4px;
  width: 48px;
  background-color: #99e2d0;
  display: inline-block;
}
.menu .menus__category {
  overflow: hidden;
}
.menu .menus__category .menu-item {
  display: flex;
  background-color: white;
  border-radius: 16px;
  overflow: hidden;
  margin: 8px;
  box-shadow: 2px 1px 8px -3px #7E7E7E;
  animation: appear 1.5s;
  animation-fill-mode: both;
}
.menu .menus__category .menu-item:nth-child(1) {
  animation-delay: 100ms;
}
.menu .menus__category .menu-item:nth-child(2) {
  animation-delay: 200ms;
}
.menu .menus__category .menu-item:nth-child(3) {
  animation-delay: 300ms;
}
.menu .menus__category .menu-item:nth-child(4) {
  animation-delay: 400ms;
}
.menu .menus__category .menu-item .menu-item__price {
  margin-left: auto;
  font-weight: 900;
  padding: 16px;
  display: flex;
  align-items: flex-end;
}
.menu .menus__category .menu-item .menu-item__description {
  padding: 16px;
  overflow: hidden;
}
.menu .menus__category .menu-item .menu-item__description h4,
.menu .menus__category .menu-item .menu-item__description p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu .menus__category .menu-item .menu-item__check {
  display: grid;
  place-items: center;
  flex-shrink: 0;
  border-radius: 0 16px 16px 0;
  background-color: #99e2d0;
  margin-right: -64px;
  width: 64px;
  transition: margin-right 0.5s;
}
.menu .menus__category .menu-item .menu-item__check i {
  display: grid;
  place-items: center;
  background: white;
  height: 32px;
  width: 32px;
  border-radius: 16px;
  color: #99e2d0;
}
.menu .menus__category .menu-item:hover {
  cursor: pointer;
}
.menu .menus__category .menu-item:hover .menu-item__check {
  margin-right: 0;
}
.menu .menus__category .menu-item:hover i {
  animation: quarter-spin 0.5s ease-in-out;
}

section.order {
  height: 12vh;
  display: grid;
  place-items: center;
}
section.order button {
  color: white;
  font-weight: 300;
  font-size: 24px;
  padding: 16px 32px;
  border: none;
  border-radius: 32px;
  transition: transform 200ms;
  margin-top: 16px;
  cursor: pointer;
  box-shadow: 2px 1px 8px -3px #7E7E7E;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
}
section.order button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

/*# sourceMappingURL=style.css.map */
