*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

main section {
  padding: 0 112px;
}
@media (max-width: 1000px) {
  main section {
    padding: 0 16px;
  }
}

h2 {
  padding: 32px 0;
  margin: 0;
}

h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

/*COLOR*/
/*GRADIENT*/
/*BREAKPOINT*/
/*FONT*/
header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  padding: 5px;
  margin: 0;
  position: relative;
}

.city {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background-color: #f3f3f3;
  text-align: center;
  padding: 8px;
}
.city i {
  font-size: 24px;
}

.explorer {
  text-align: center;
}
.explorer h2 {
  font-size: 32px;
}
.explorer p {
  font-size: 16px;
}
.explorer button {
  color: white;
  font-weight: 300;
  font-size: 24px;
  padding: 16px 32px;
  border: none;
  border-radius: 32px;
  transition: transform 200ms;
  margin-top: 16px;
  cursor: pointer;
  box-shadow: 2px 1px 8px -3px;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
}
.explorer button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.functioning {
  counter-reset: steps;
  margin-bottom: 32px;
}
.functioning ol {
  display: flex;
  gap: 32px;
}
@media (max-width: 1000px) {
  .functioning ol {
    flex-direction: column;
  }
}
.functioning li {
  position: relative;
  list-style-type: none;
  background-color: #f6f6f6;
  padding: 24px 32px;
  flex-grow: 1;
  border-radius: 16px;
  box-shadow: 2px 1px 8px -3px;
}
.functioning li::before {
  content: counter(steps);
  counter-increment: steps;
  color: white;
  background-color: #9356dc;
  width: 32px;
  height: 32px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -16px;
  transform: translateY(-50%);
}
.functioning li:hover {
  transform: scale(1.02);
}
.functioning li i.fas {
  margin-right: 16px;
  color: gray;
  font-size: 24px;
}

.menus {
  background-color: #f6f6f6;
  padding-bottom: 32px;
}
.menus .menus__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}
@media (max-width: 1000px) {
  .menus .menus__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.menus .menus__cards .new {
  position: relative;
}
.menus .menus__cards .new::before {
  content: "Nouveau";
  position: absolute;
  height: 32px;
  width: 80px;
  background-color: #99e2d0;
  color: #1b6150;
  display: grid;
  place-items: center;
  right: 16px;
  top: 16px;
}
.menus .card {
  background-color: white;
  box-shadow: 2px 1px 8px -3px;
  border-radius: 16px;
}
.menus .card__image img {
  border-radius: 16px 16px 0 0;
  width: 100%;
  height: 192px;
  object-fit: cover;
}
.menus .card__description {
  position: relative;
}
.menus .card__description h3,
.menus .card__description p {
  margin: 8px;
}
.menus .card__description p {
  padding: 8px;
}
.menus .card__description i {
  font-size: 32px;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}
.menus .card__description .fas {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
}
.menus .card__description:hover .fas {
  opacity: 1;
  transform: translateY(-50%) scale(1.2);
}

footer {
  text-align: center;
  padding: 16px 32px;
  background-color: #383838;
  color: white;
}
footer h2 {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
  padding: 16px 0;
}
footer a {
  color: white;
}
footer p {
  padding: 3px;
}

img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  object-position: bottom;
}

main h2 {
  position: relative;
  font-family: "Shrikhand", cursive;
}
main h2 i {
  font-size: 32px;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}
main h2 .fas {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
}
main h2:hover .fas {
  opacity: 1;
  transform: translateY(-50%) scale(1.2);
}

/*# sourceMappingURL=style.css.map */
