header i {
  display: flex;
  font-size: 20px;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 200ms;
  &:hover {
    transform: translateY(-50%) (scale(1.2));
  }
}

.banner img {
  display: block;
  width: 100%;
  height: 70vh;
  object-fit: cover;
  object-position: center;
}

.restaurant__title {
  margin-top: -32px;
  h2 {
    display: flex;
    justify-content: space-between;
    font-family: $font;
    padding: 32px 16px;
    border-radius: 32px 32px 0 0;
    background-color: $lightergrey;
  }
}

.menus {
  padding: 0 16px;
  background-color: $lightergrey;
}
.menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  @media (max-width: $breakpoint) {
    grid-template-columns: 1fr;
  }
  h3 {
    text-transform: uppercase;
    font-weight: 400;
    position: relative;
    margin-bottom: 16px;
    &::after {
      content: "";
      position: absolute;
      top: 24px;
      left: 0;
      height: 4px;
      width: 48px;
      background-color: $color-tertiary;
      display: inline-block;
    }
  }
  .menus__category {
    overflow: hidden;
    .menu-item {
      @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
          animation-delay: 100ms * $i;
        }
      }
      display: flex;
      background-color: white;
      border-radius: 16px;
      overflow: hidden;
      margin: 8px;
      @include base-shadow;
      animation: appear 1.5s;
      animation-fill-mode: both;
      .menu-item__price {
        margin-left: auto;
        font-weight: 900;
        padding: 16px;
        display: flex;
        align-items: flex-end;
      }
      .menu-item__description {
        padding: 16px;
        overflow: hidden;
        h4,
        p {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
      .menu-item__check {
        display: grid;
        place-items: center;
        flex-shrink: 0;
        border-radius: 0 16px 16px 0;
        background-color: $color-tertiary;
        margin-right: -64px;
        width: 64px;
        transition: margin-right 0.5s;
        i {
          display: grid;
          place-items: center;
          background: white;
          height: 32px;
          width: 32px;
          border-radius: 16px;
          color: $color-tertiary;
        }
      }
      &:hover {
        cursor: pointer;
        .menu-item__check {
          margin-right: 0;
        }
        i {
          animation: quarter-spin 0.5s ease-in-out;
        }
      }
    }
  }
}
section.order {
  height: 12vh;
  display: grid;
  place-items: center;
  button {
    @include base-button;
  }
}
