/*COLOR*/
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$lightergrey: #F6F6F6;
$lightgrey: #7E7E7E;

/*GRADIENT*/
$gradient: rgb(147, 86, 220, 1), rgba(255, 121, 218, 1);

/*BREAKPOINT*/
$breakpoint: 1000px;