@mixin gradient {
  background-image: linear-gradient(to top, $gradient);
}

@mixin base-shadow {
  box-shadow: 2px 1px 8px -3px $lightgrey;
}

@mixin transform-zoom {
  transform: scale(1.02);
}

@mixin base-button {
  color: white;
  font-weight: 300;
  font-size: 24px;
  padding: 16px 32px;
  border: none;
  border-radius: 32px;
  transition: transform 200ms;
  margin-top: 16px;
  cursor: pointer;
  @include base-shadow;
  @include gradient;
  &:hover {
    transform: scale(1.02);
    opacity: 0.9;
  }
}

@mixin heart {
  font-size: 32px;
  &:hover {
    font-weight: 900;
    background: -webkit-linear-gradient($gradient);
    color: transparent;
    -webkit-background-clip: text;
    -webkit-transition: 1s;
    transition: 1s;
    cursor: pointer;
  }
}
