/*COLOR*/
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;

/*GRADIENT*/
$gradient: rgb(147, 86, 220, 1), rgba(255, 121, 218, 1);

/*BREAKPOINT*/
$breakpoint: 1000px;

/*FONT*/
$font: "Shrikhand", cursive;
