.explorer{
    background-color: #F6F6F6;
    text-align: center;
    padding: 32px;
    & h2{
        font-size: 24px;
        margin: 16px;
    }
    & p{
        font-size: 16px;
    }
    & button{
        @include base-button;
        font-size: 16px;
    }
}

.loader{
    position: fixed;
    display: grid;
    place-items: center;
    background-color: #FFFFFF;
    height: 100vh;
    inset: 0;
    z-index: 1;
    opacity: 0.8;
    animation: disappear 100ms 3s forwards;
    transform-origin: top;
    &::after{
        content: "";
        height: 100px;
        width: 100px;
        border-right: 5px solid transparent;
        border-top: 5px solid $color-primary;
        border-left: 5px solid $color-secondary;
        border-radius: 50%;
        animation: spin 3s infinite;
    }
}