footer {
  padding: 16px 32px;
  background-color: #383838;
  color: white;
  h4 {
    font-family: $font;
    font-weight: 500;
    padding: 16px 0;
  }
  a{
    color: white;
  }
  p{
    padding: 3px;
  }
  i{
    padding-right: 10px;
  }
}
