.functioning {
  counter-reset: steps;
  margin-bottom: 32px;
  padding: 0 112px;
  @media (max-width: $breakpoint) {
    padding: 0 16px;    
  }
  ol {
    display: flex;
    gap: 32px;
    padding: 0 16px;
    @media (max-width: $breakpoint) {
        flex-direction: column;
    }
  }
  li {
    position: relative;
    display: flex;
    align-items: center;
    &::before{
      content: counter(steps);
      counter-increment: steps;
      color: white;
      background-color: $color-primary;
      width: 32px;
      height: 32px;
      display: grid;
      place-items: center;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: -16px;
      transform: translateY(-50%);
    }
    list-style-type: none;
    background-color: #f6f6f6;
    padding: 24px 32px;
    flex-grow: 1;
    border-radius: 16px;
    @include base-shadow;
    &:hover{
        @include transform-zoom;
        background-color: lighten($color-primary, 35%);
        i::before{
          color: $color-primary;
        }
    }
    i.fas{
      margin-right: 16px;
      color: gray;
      font-size: 24px;
    }
  }
}
