.restaurants {
  background-color: $lightergrey;
  padding-bottom: 32px;
  h3 {
    padding: 32px 0 16px 112px;
    @media (max-width: $breakpoint) {
      padding: 10px 16px;
    }
  }

  .restaurants__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    padding: 0 112px;
    @media (max-width: $breakpoint) {
      grid-template-columns: repeat(1, 1fr);
      padding: 0 16px;
    }
    .new {
      position: relative;
    }
    .new::before {
      content: "Nouveau";
      position: absolute;
      height: 32px;
      width: 80px;
      background-color: $color-tertiary;
      color: darken($color-tertiary, 50%);
      display: grid;
      place-items: center;
      right: 16px;
      top: 16px;
    }
  }

  .card {
    background-color: white;
    box-shadow: 2px 1px 8px -3px;
    border-radius: 16px;
    &__image {
      img {
        border-radius: 16px 16px 0 0;
        width: 100%;
        height: 192px;
        object-fit: cover;
      }
    }
    &__description {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      h3,
      p {
        margin: 3px;
        padding: 1px;
      }
      i {
        padding-right: 10px;
      }
      .fa-heart {
        @include heart;
      }
    }
  }
}
