@use "../utils/variables.scss";
@use "../utils/mixins.scss";

.menus {
  background-color: #f6f6f6;
  padding-bottom: 32px;

  .menus__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    @media (max-width: variables.$breakpoint) {
      grid-template-columns: repeat(1, 1fr);
    }
    .new{
      position: relative;
    }
    .new::before{
      content: "Nouveau";
      position: absolute;
      height: 32px;
      width: 80px;
      background-color: variables.$color-tertiary;
      color: darken(variables.$color-tertiary, 50%);
      display: grid;
      place-items: center;
      right: 16px;
      top: 16px;
    }
  }

  .card {
    background-color: white;
    box-shadow: 2px 1px 8px -3px;
    border-radius: 16px;
    &__image {
      img {
        border-radius: 16px 16px 0 0;
        width: 100%;
        height: 192px;
        object-fit: cover;
      }
    }
    &__description{
      position: relative;
      h3,
      p{
        margin: 8px;
      }
      p{
        padding: 8px;
      }
      i{
        font-size: 32px;
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
      }
      .fas{
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 0;
        transition: all 200ms;
        @include mixins.gradient;
      }
      &:hover .fas{
        opacity: 1;
        transform: translateY(-50%) scale(1.2);
      }
    }
  }
}
